{% extends 'base.html' %}

{% block content %}

{% for product in products.all %}
<div class="row pt-3">
  <div class="col-2" style="cursor: pointer;" onclick="window.location='{% url 'detail' product.id %}'">
    {% if product.icon %}
      <img src="{{ product.icon.url }}" class="img-fluid" />
    {% else %}
      <img src="{{ product.icon }}" class="img-fluid" />
    {% endif %}
  </div>
  <div class="col-6" style="cursor: pointer;" onclick="window.location='{% url 'detail' product.id %}'">
    <h1>{{ product.title }}</h1>
    <p>{{ product.summary }}</p>
  </div>
  <div class="col-4">
    <a href="JavaScript:{document.getElementById('upvoteForm_{{product.id}}').submit();}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{ product.votes_total }}</button></a>
  </div>
</div>
<form id="upvoteForm_{{product.id}}" method="POST" action="{% url 'upVote' product.id %}">
  {% csrf_token %}
  <input type="hidden"/>
  </form>
{% endfor %}

{% endblock %}
